parameters:
	ignoreErrors:
		-
			message: "#^Dead catch \\- Throwable is never thrown in the try block\\.$#"
			count: 1
			path: src/Filter.php

		-
			message: "#^Parameter \\#1 \\$(str|string) of function strtolower expects string, mixed given\\.$#"
			count: 2
			path: src/Filter.php
